<div>
    <label for="radioAdd">Add: &nbsp;</label>
    <input type="radio" name="calcRadios" id="radioAdd" (change)="updateChoice(1)">
    &nbsp;&nbsp;
    <label for="radioSub">Subtract: &nbsp;</label>
    <input type="radio" name="calcRadios" id="radioSub" (change)="updateChoice(2)">
    &nbsp;&nbsp;
    <label for="radioMulti">Multiply: &nbsp;</label>
    <input type="radio" name="calcRadios" id="radioMulti" (change)="updateChoice(3)">
    &nbsp;&nbsp;
    <label for="radioDiv">Divide: &nbsp;</label>
    <input type="radio" name="calcRadios" id="radioDiv" (change)="updateChoice(4)">
</div>
<br>
<form>
    <div>
        <label for="txtFirst">First: &nbsp;</label>
        <input type="text" id="txtFirst" [value]="firstValue" (input)="updateFirst(+first.value)" #first>
    </div>
    <div>
        <label for="txtSecond">Second: &nbsp;</label>
        <!-- <input type="text" id="txtSecond" [value]="secondValue" (input)="updateSecond($event)" #second> -->
        <input type="text" id="txtSecond" [value]="secondValue" (input)="updateSecond(+second.value)" #second>
    </div>
    <div>
        <input type="button" value="Calculate" (click)="calculate()">
    </div>
</form>
<br>
<div>
    <label for="txtResult">Result: &nbsp;</label>
    <input type="text" id="txtResult" readonly [value]="resultValue">
</div>

<br>
<br>