<ng-template #loadingTemplate>
    <span>Loading...</span>
</ng-template>
<ng-template #erorTemplate>
    <span>{{errorInfo}}</span>
</ng-template>
<ng-template #noDataTemplate>
    <span>No records.</span>
</ng-template>
<div *ngIf="fetchComplete;else loadingTemplate">
    <div *ngIf="errorInfo==='';else erorTemplate">
        <p *ngIf="todo;else noDataTemplate">
            Task: &nbsp;{{todo.title}}:{{todo.completed?'completed':'not completed'}}
            <br>
            <a routerLink="/todos/edit" [queryParams]="{id:todo.id}">
                Edit
            </a>

        </p>
    </div>
</div>
<!-- <a (click)="goToEdit(todo?.id)">Edit</a> -->