<app-filter (sortChoiceChanged)="updateSelection($event)" (clickFired)="clickHandler()"></app-filter>

<br>
<ng-template #loadingTemplate>
    <span>Loading...</span>
</ng-template>
<ng-template #erorTemplate>
    <span>{{errorInfo}}</span>
</ng-template>
<ng-template #noDataTemplate>
    <span>No records.</span>
</ng-template>
<div *ngIf="fetchComplete;else loadingTemplate">
    <div *ngIf="errorInfo==='';else erorTemplate">
        <div *ngIf="todos && todos.length>0;else noDataTemplate">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User Id</th>
                        <th>Title</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let td of (todos|sorttodos:selectedOption)">
                        <td>{{td.id}}</td>
                        <td>{{td.userId}}</td>
                        <td>
                            <u (click)="updateSelectedTodoId(td.id)">{{td.title}}</u>
                        </td>
                        <td>{{td.completed?'yes':'no'}}</td>
                    </tr>
                </tbody>
            </table>
            <br>

            <button type="button" (click)="selectedTodoId=0">{{selectedTodoId>0?'reset':'select a todo'}}</button>
            <br>
            <div *ngIf="selectedTodoId>0">
                selected id: &nbsp;{{selectedTodoId}}
                <br>
                <!-- <app-todo-detail [selectedTodo]="selectedTodoId">
    </app-todo-detail> -->
                <app-todo-detail [selectedTodoValue]="selectedTodoId">
                </app-todo-detail>
            </div>
        </div>
    </div>
</div>