<app-filter (sortChoiceChanged)="updateSelection($event)"></app-filter>

<br>
<ng-template #loadingTemplate>
    <span>Loading...</span>
</ng-template>
<ng-template #erorTemplate>
    <span>{{errorInfo}}</span>
</ng-template>
<ng-template #noDataTemplate>
    <span>No records.</span>
</ng-template>

<div *ngIf="fetchComplete;else loadingTemplate">
    <div *ngIf="errorInfo==='';else erorTemplate">
        <div *ngIf="todos && todos.length>0;else noDataTemplate">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User Id</th>
                        <th>Title</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let td of (todos|sorttodos:selectedOption)">
                        <td>{{td.id}}</td>
                        <td>{{td.userId}}</td>
                        <td>
                            <!-- <a [routerLink]="['/todos/view',td.id]">{{td.title}}</a> -->
                            <u (click)="goToDetailView($event,td.id)">{{td.title}}</u>
                        </td>
                        <td>{{td.completed?'yes':'no'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>