<form [formGroup]="addForm" (submit)="submitData()">
    <div>
        <label for="txtId">Id: &nbsp;</label>
        <!-- <input type="text" id="txtId" [formControl]="idCtrl"> -->
        <input type="number" id="txtId" formControlName="id">
    </div>
    <div *ngIf="id?.touched">
        <span *ngIf="id?.errors?.['required']">
            enter id
        </span>
    </div>
    <div>
        <label for="txtUserId">For User: &nbsp;</label>
        <input type="number" id="txtUserId" formControlName="userId">
    </div>
    <div *ngIf="userId?.touched">
        <span *ngIf="userId?.errors?.['required']">
            enter user id
        </span>
    </div>
    <div>
        <label for="txtTitle">Task: &nbsp;</label>
        <input type="text" id="txtTitle" formControlName="title">
    </div>
    <div *ngIf="title?.touched">
        <span *ngIf="title?.errors?.['required']">
            enter title
        </span>
        <span *ngIf="title?.errors?.['email']">
            enter email as title
        </span>
    </div>
    <div>
        <label for="txtStatus">Done?: &nbsp;</label>
        <input type="checkbox" id="txtStatus" formControlName="completed">
    </div>
    <div>
        <input type="submit" value="Submit" [disabled]="addForm.invalid">
    </div>
</form>